<a href="https://colab.research.google.com/github/abhetu/NumericalAnalysis/blob/main/MyFirstLab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
SUM = 0
for i in range(1,11):
  SUM = SUM +(1/i)
print (SUM)

2.9289682539682538

In [ ]:
SUM = 0
for n in range(1,201):
  SUM = SUM +(1/(n**2))
print (SUM)

1.6399465460149971

In [ ]:
SUM = 0
for j in range(1,11):
  SUM = SUM +(j**(1/2))
print (SUM)

22.4682781862041

In [ ]:
SUM = 0
for n in range(1,6):
  SUM = SUM +(1/math.factorial(n))
print (SUM)

1.7166666666666668